html{
	font-family: 'Montserrat', sans-serif;
}

/*Header*/
#logo{
	width: 100%;
	max-width: 40px;
}

/*Navigation*/
.menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}


/* Overwritting Materialize */
	/*Header*/
	h1{
		font-size: 0.9em;
		margin: 5px 0 0 0;
	}
	#logo-container{
		padding: 0.4em;
	}

	/*Navigation*/
	nav{
		background: transparent;
		background: linear-gradient(to bottom, rgba(0,0,0,0.99) 0%,rgba(0,0,0,0.95) 1%,rgba(125,185,232,0) 100%); 
		box-shadow: none;
	}

	#sidenav-overlay{
		z-index: 15;
	}

/*Overwritting fullpage*/
 .section{
 	background-color: #3486c1 !important;
 }

.blueBck {
	background: linear-gradient(135deg, rgba(16,14,35,1) 1%,rgba(41,137,216,1) 37%,rgba(32,124,202,1) 48%,rgba(47,83,119,1) 100%);
	background: #286eaa;
}
.phoneMaxSize {
	max-width: 230px !important;
	width: 100%;
}
.bottomCharac{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 50%;
	max-width: 1300px;
	transform: translate(-50%);
}

.bgText {
	font-size: 2.2em;
}

.jungle{
    background-image: url(../images/map_background.jpg);
    background-position: center;
    background-size: cover;
}
.rating{
    background-image: url(../images/latest.jpg);
    background-position: center;
    background-size: cover;
}

.fullHeight{
	display: table-cell;
	vertical-align: middle;
}

@media screen and (min-width: 960px) { 
	.bgText {
		padding: 50px 0;
	}
}
