html{
	font-family: 'Montserrat', sans-serif;
}

/*Header*/
#logo{
	width: 100%;
	max-width: 40px;
}

/*Navigation*/
.menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.space{
    margin: 15px;
}

.gray{
    background-color: rgba(158,158,158,0.4);
}


/* Overwritting Materialize */
	/*Header*/
	h1{
		font-size: 0.9em;
		margin: 5px 0 0 0;
	}
	#logo-container{
		padding: 0.4em;
	}

	/*Navigation*/
	nav{
		background: transparent;
        background: linear-gradient(to bottom, rgba(0,0,0,1) 30%,rgba(0,0,0,0.77) 46%,rgba(125,185,232,0) 100%);
		box-shadow: none;
	}

	#sidenav-overlay{
		z-index: 15;
	}

    /*Footer*/
    .page-footer{
        background: transparent;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 3;
    }


/*Overwritting fullpage*/
 .section{
 	background-color: #3486c1 !important;
 }



/*Style in fullpage content*/
    /*Next slide buttons*/
    .nextSlide{
        position: absolute;
        display: inline-block;
        z-index: 4;
        animation: down 1.5s infinite;
        left:50%;
        text-align: center;
        transition: all 1s ease;
        transform-origin:center; 
        transform: scale(1) translateX(-50%);
    }
    .nextSlide:hover{ 
        transform-origin:center; 
        transform: scale(1.15) translateX(-50%);
        transition: all 1s;
    }
    @keyframes down {
      0%   {bottom: 4%}
      50% {bottom: 3%}
      100% {bottom: 4%}
    }


    /*Main Background and Background picture*/
    .blueBck {

        background-image: url(../images/curtain_mobile.jpg);
        background-position: center;
        background-size: 100% 100%;
    }
    .rightCurt,
    .leftCurt{
        display: none;
    }
    
    /*Character Picture*/
    .mxSize{
        max-width: 300px !important;
    }

    /*Slide 1*/
    .bottomCharac{
            position: absolute;
            width: 800px;
            left: -40%;
            transform-origin: center;
            bottom: 0;
            overflow: hidden;
        }

    /*Slide 2*/
    .jungle{
        background-image: url(../images/map_background.jpg);
        background-position: center;
        background-size: cover;
    }

    /*Slide 4*/
    .rating{
        background-image: url(../images/cine_posters.jpg);
        background-position: center;
        background-size: cover;
    }

    /*Slide 6*/
    .starry {
        background-image: url(../images/starry_sky.png);
        background-position: center;
        background-size: cover;
    }
    #download-button{
        transition: 0.5s ease;
    }
    #download-button:hover {
        background: #0097a7 !important;
        transition: 0.5s ease;
    }
    
    .phoneMaxSize {
        max-width: 100px !important;
        width: 100%;
    }
    
    .bgText {
        font-size: 2.2em;
    }

    /*Slide 3*/
    .movie-img-order{
         order: 1;
    }


    .movie-txt-order{
        order:2;
    }

@media screen and (min-width: 700px) { 
   

/*Character pictures media queries*/

    /*Slide 1*/
    .bottomCharac{
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 50%;
            max-width: 1000px;
            transform: translate(-50%);
        }
    .phoneMaxSize {
        max-width: 230px !important;
        width: 100%;
    }
    .amazed_c{
        max-width: 350px !important;
        position: absolute;
        bottom: 0;
        z-index: 1;
        margin: 0 auto;
        display: block;
        left:0;
        right:0;
    }
    
    .movie-img-order{
        order: 2;
    }

    .movie-txt-order{
        order:1 ;
    }
    
    /*Features' text*/
    .flex{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        justify-content: center;
        align-content: center;
    }
    
    .sm-container {
        max-width: 350px;
        margin :auto;
    }
    .sm-container p {
        text-align: justify;
    }
    
    /*First slide*/
	.bgText {
		padding: 50px 0;
	}
}

@media screen and (min-width: 1000px) { 
     .blueBck{
       background: #286eaa;
       background: radial-gradient( rgba(41,137,216,1) 1%,rgba(32,124,202,1) 37%, rgba(47,83,119,1) 60%,rgba(16,14,35,1) 100%);
    }
    .rightCurt{
        position: absolute;
        right: 0;
        height: 100%;
        width: 200px;
        top: 0;
        bottom:0;
        display: block;
    }
    .leftCurt{
        position: absolute;
        left: 0;
        height: 100%;
        width: 200px;
        top: 0;
        bottom:0;
        display: block;
    }
    /*Character pictures media queries*/
    .amazed_c{
        max-width: 500px !important;
    }
}